
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    color: #fff;
    font-family: 'Inter', sans-serif;
}

html, body{
    padding: 0%;
    margin: 0px;
    background-color: #1b1a1a;
    
}

body{
    width: 100%;
}

/* SECTION INFORMAÇÃO START!*/

.informacao{
    background-color: #000;
    font-size: 1.7rem;
    
    width: 100%;
    height: 100vh;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.img img{
    width: 100%;
}

.img{
    width: 50%;
}

.apresentacao h1{
    margin: 1rem 0rem;
}


@media screen and (max-width: 730px) {
    
    .informacao{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .img{
        width: 100%;
    }

}
/* SECTION INFORMAÇÃO  END!*/


/* SECTION SOBRE START! */

.sobre{
    height: 30rem;

    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;

    padding: 3rem;
}

.sobreUm img{
    border-radius: 20px;
}

.sobreDois h2{
    font-size: 2rem;
    margin: 1rem 0rem;
}
.sobreDois p{
    font-size: 1rem;
}

@media screen and (max-width: 730px) {

    .sobre{
        height: 100vh;
    }

}

/* SECTION SOBRE END! */


/* SECTION SKILS START! */

.skills{
    background-color: #000;
    height: 30rem;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
}

.skills h2{
    font-size: 2rem;
    margin: 1rem 0rem;
}

.skills div{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.skills img{
    margin: 1rem;
}

@media screen and (max-width: 730px) {

    .skills{
        height: 100vh;
    }
    
}

/* SECTION SKILS END! */


/* SECTION PROJETOS START! */

.projetos{
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    padding: 1rem;
}

.projetos img{
    width: 300px;
    height: 300px;

    margin: 1rem;
}

@media screen and (max-width: 730px) {

    .projetos{
        height: 100%;
    }
    
}

/* SECTION PROJETOS END! */


/* SECTION CONTATO START! */

.contato{
    background-color: #000;
    height: 10rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    padding: 2rem;
}

.contato h2{
    font-size: 2rem;
}

.contato-esquerdo{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.contato-esquerdo button{
    background: transparent;
    font-size: 1rem;
    
    display: flex;
    align-items: center;
}

.contato-esquerdo button img{
    margin-right: 10px;
}

.contato-direito{
    
    display: flex;
    justify-content: space-around;
}

.contato-direito a{
    margin: 0rem 2rem;

}

@media screen and (max-width: 730px) {

    .contato{
        height: 100%;
    }

    .contato-esquerdo button{
        font-size: 1.1rem;
        margin: 0.5rem 0rem;
    }

    .contato-esquerdo{
        margin: 1rem 0rem 1.5rem 0rem;
    }

    .contato-direito{
        margin: 0rem 0rem 1rem 0rem;
    }
    

/* SECTION CONTATO END! */