
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    color: #fff;
    font-family: 'Inter', sans-serif;
}

html, body{
    padding: 0%;
    margin: 0px;
    width: 100%;
    background-color: #1b1a1a;
    
}

body{
    display: flex;
    justify-content: center;
}

header{
    background-color: #000;
    height: 690px;
}


/* .conteiner{
    max-width: 1300px;
    margin: 0px auto;
} */

        /* HEADER */

/* NAV */

.divnav{
    background-color: #000;
    position: fixed;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 90%;
    overflow: hidden;
    margin: 0px 50px 0px 50px;
}

.nav img{
    width: 12%;
}

.links{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.links a{
    text-decoration: none;
}

/* SECTION informacao */


.informacao{

    display: flex;
    justify-content: space-around;
    align-items:center;
    height: 680px;

}

.infoUm {
    font-size: 30px;
}

.infoDois{
    font-size: 25px;
}

.apresentacao{
    display: flex;
    flex-direction: column;
}

.apresentacao h1{
 font-size: 50px;
}

#img{
    width: 50%;

}

#img img{
    width: 100%;
}

/* SECTION SOBRE */

.sobre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 680px;
}

.sobreUm{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 40px;
}

.sobre img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.sobreDois{
    width: 70%;
    margin: 0px 80px 0px 0px;
}

/* SECTION SKILLS */

.skills{
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.skills h2{
    font-size: 35px;
    margin-bottom: 5%;
}

.skills div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skills img{
    width: 25%;
}

/* SECTION PROJETOS */

.projetos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 680px;
}

.projetos img{
 width: 20%;
 border-radius: 15px;
}